/*FONTS*/


/*GLOBAL STYLES*/

body {
  position: relative;
}

/*HEADER STYLES*/

.navbar {
  background-color: #000000;
  border: none;
}

.navbar-default .navbar-nav>li>a {
  color: #ffffff;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: #ffffff;
  background-color: rgba(0, 0, 0, .45);
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #cc00ff;
}

/*INTRO STYLES*/

#intro-shadow {
  box-shadow: 15px 15px 3px 0px #ff0066;
}

/*PORTFOLIO STYLES*/

#portfolio-shadow {
  box-shadow: 15px 15px 3px 0px #990099;
}
